---
const year = new Date().getFullYear();
---

<footer class='py-16 bg-zinc-100'>
    <div class='container mx-auto'>
      <div class='pb-12 grid lg:grid-cols-2 gap-8'>
        <div class='flex flex-col gap-4'>
          <span class='font-semibold text-xl'>Perum.</span>
          <p class='text-lg text-zinc-500'>
            More Comfortable. <br /> More Classy.
          </p>
        </div>
        <div
          class='flex sm:flex-row flex-wrap lg:justify-end lg:gap-20 gap-8'
        >
          <div class='flex flex-col gap-3 w-32 lg:w-20'>
            <h1>Product</h1>
            <ul class='flex flex-col gap-2 text-zinc-500'>
              <li>
                <a href='#feature' class='hover:text-zinc-800'>Feature</a>
              </li>
              <li>
                <a href='#' class='hover:text-zinc-800'>Integrations</a>
              </li>
              <li><a href='#' class='hover:text-zinc-800'>Pricing</a></li>
            </ul>
          </div>
          <div class='flex flex-col gap-3 w-32 lg:w-20'>
            <h1>Company</h1>
            <ul class='flex flex-col gap-2 text-zinc-500'>
              <li><a href='#' class='hover:text-zinc-800'>About Us</a></li>
              <li><a href='#' class='hover:text-zinc-800'>Blog</a></li>
              <li><a href='#' class='hover:text-zinc-800'>Careers</a></li>
              <li><a href='#' class='hover:text-zinc-800'>Customers</a></li>
              <li><a href='#' class='hover:text-zinc-800'>Brand</a></li>
            </ul>
          </div>
          <div class='flex flex-col gap-3 w-32 lg:w-20'>
            <h1>Resources</h1>
            <ul class='flex flex-col gap-2 text-zinc-500'>
              <li><a href='#' class='hover:text-zinc-800'>Community</a></li>
              <li><a href='#' class='hover:text-zinc-800'>Contact</a></li>
              <li><a href='#' class='hover:text-zinc-800'>DPA</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div
        class='pt-12 flex lg:flex-row flex-col lg:gap-8 gap-4 lg:justify-between'
      >
        <p class='text-zinc-500'>© {year} Perum. All rights reserved</p>
        <div>
          <ul
            class='flex sm:flex-row flex-col lg:gap-8 sm:gap-8 gap-2 text-base text-zinc-500'
          >
            <li>
              <a href='#' class='hover:text-zinc-800'>Term of service</a>
            </li>
            <li>
              <a href='#' class='hover:text-zinc-800'>Policy service</a>
            </li>
            <li><a href='#' class='hover:text-zinc-800'>Cookie policy</a></li>
            <li><a href='#' class='hover:text-zinc-800'>Patners</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>