<nav class='absolute min-w-full py-4 z-10'>
  <div class='container mx-auto'>
    <div class='flex gap-8 justify-between text-white'>
      <div class='flex justify-center text-center'>
        <a href='/' class='font-semibold text-xl'>Perum.</a>
      </div>
      <div class='flex gap-8'>
        <a href='#' class='hover:text-zinc-800'>Contact Us</a>
        <a href='#' class='hover:text-zinc-800'>About Us</a>
      </div>
    </div>
  </div>
</nav>
