---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

import '@fontsource-variable/inter';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Perum - Real Estate Landing Page</title>
    <meta
      name='description'
      content='Make your living experience even more memorable. More Comfortable, More Classy.'
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: 'Inter Variable', sans-serif;
  }
</style>
